# Core ML
tensorflow
torch
scikit-learn
pandas
numpy

# API
fastapi
uvicorn
pydantic

# UI
streamlit

# Visualization
matplotlib
seaborn

# Utilities
joblib
pytest
httpx
wandb

# Notebook
ipykernel
jupyter
notebook